@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

main {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 26rem;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(114, 114, 240);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
}

.input {
    border-bottom: 1px solid black;
    padding: 5px 5px 15px 5px;
}

.input-form-grid {
    display: grid;
}

label {
    grid-column: 1;
}

input {
    grid-column: 2;
    align-items: center;
}

.input-buttons {
    margin-top: 1rem;
    text-align: center;
}

.input-buttons button {
    width: 6rem;
    height: 2rem;
    background-color: rgb(211, 209, 221);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    margin: .3rem;
    cursor: pointer;
}

.output {
    padding: 5px 5px 15px 5px;
}

.output-button {
    text-align: center;
    margin-top: 1rem;
}

.output-button button {
    padding: 0rem .3rem;
    height: 2rem;
    background-color: rgb(211, 209, 221);
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    margin: .3rem;
    cursor: pointer;
}