@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: azure;
}

main {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 35%;
    margin: auto;
    margin-top: 15%;
    background-color: rgb(114, 114, 240);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.527);
}

.input {
    border-bottom: 1px solid black;
    padding: 5px 5px 15px 5px;
}