@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

main {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 30%;
    height: 100vh;
    margin: auto;
    margin-top: 15%;
}